{% extends '::base-pdf.html.twig' %}

{% block body %}

<h2 class="text-center">
	<strong>
		<u>Evaluaciones de los miembros de equipo</u>
	</strong>
</h2>

{% include ':equipoevaluador:respuestas-evaluadores.info.html.twig' %}

{% endblock %}