{% extends '::base-pdf.html.twig' %}

{% block body %}

<h2 class="text-center">
	<strong><u>Planilla de Evaluación de Consenso</u></strong>
</h2>

{% include ':equipoevaluador:formulario-evaluacion.show.info.html.twig' %}

{% endblock %}