<footer>
    <div id="footer-presentation" class="container">
        <div class="row">
        	<div class="col-sm-6">
        		<img class="logo-sggc" src="{{ asset('images/logo-sggc.png') }}">
        	</div>
        	<div class="col-sm-3">
        		<img class="logo-scgpe" src="{{ asset('images/logo-sub-cgpe.png') }}">
        	</div>
        	<div class="col-sm-3">
        		<img class="logo-gob-footer" src="{{ asset('images/logo-chacogob.png') }}">
        	</div>
        </div>
    </div>
</footer>