<header>
    <div id="header-presentation" class="container hidden-xs">
        <div class="row">
            <div class="col-xs-6 text-left">
                <img class="logo-premio" src="{{ asset('images/logo-premio-calidad.png') }}" alt="Logo Premio Provincial a la calidad">
            </div>
            <div class="col-xs-6 text-right">
                <img class="logo-gob-header" src="{{ asset('images/logo-chacogob.png') }}" alt="Logo de Gobierno del Chaco">
            </div>
        </div>
    </div>
    {% include 'menu.html.twig' %}
</header>