{% extends '::base-pdf.html.twig' %}

{% block body %}

<h2 class="text-center"><strong><u>Planilla de Evaluación Individual</u></strong></h2>

{% include ':evaluadorpremio:formulario-evaluacion.show.info.html.twig' %}

{% endblock %}