<table class="table table-bordered table-condensed">
    <tbody>
        <tr>
            <th class="width-perc-20">Estado frente al premio</th>
            <td>{{ evaluadorPremio.estado }}</td>
        </tr>
        <tr>
            <th class="width-perc-20">Fecha y Hora de Inscripción</th>
            <td>{{ evaluadorPremio.createdAt|date('d/m/Y - H:i') }}</td>
        </tr>
    </tbody>
</table>