{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-right">
    	<button class="btn btn-primary" type="submit">
        	<i class="fa fa-floppy-o"></i> Guardar
        </button>
    </div>
{{ form_end(form) }}