<fieldset>
	<legend>Actividad Principal de la Organización que se postula</legend>
	<div class="row">
		<div class="col-sm-8">{{ form_row(form.actividadPrincipal) }}</div>
		<div class="col-sm-4">{{ form_row(form.anioInicioActividades) }}</div>
	</div>
</fieldset>
<fieldset>
	<legend>Categoría a la que se postula</legend>
	<div class="row">
		<div class="col-sm-6">{{ form_row(form.tipo) }}</div>
		<div class="col-sm-6">{{ form_row(form.categoria) }}</div>
	</div>
</fieldset>