{{ form_errors(form) }}
{{ form_start(form, { 'attr': { 'novalidate': 'novalidate' } }) }}
    {% include ':evaluador:form-inner.html.twig' %}
    <hr>
    <div class="text-right">
        <button class="btn btn-primary" type="submit" value="Create" >
            <i class="fa fa-floppy-o"></i> Guardar
        </button>
    </div>
    {{ form_rest(form) }}
{{ form_end(form) }}
