{% extends "::base.html.twig" %}

{% block body %}
<div class="container">
  <h1>Inscripción </h1>
  {%  include 'organizacionpremio/form-' ~ type ~ '.html.twig' %}
</div>
{% endblock %}

{% block page_javascripts %}
	{% include ':adminpremioorganizacion'~ type ~':form-javascripts.html.twig' with { 'form': form.organizacion } %}
{% endblock %}
